<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-tasks-container">
    <div class="tasks-container" *ngFor="let task of tasks">
      <app-task-card [info]="task"></app-task-card>
    </div>  
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="circle-button" routerLink="/folder/Tareas/publish" >
    <ion-fab-button class="circle-button-button">
      <ion-icon style="width: 30px; height: 30px" name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-button expand="full" fill="solid" class="publicar-button" routerLink="/folder/Tareas/publish">Publicar</ion-button>
</ion-footer>
