.publicar-button{
  margin: 0;
}
.circle-button{
  display: none;
}

@media(min-width: 500px) {
  .publicar-button{
    display: none;
  }
  .main-tasks-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .circle-button{
    bottom: 50px;
    right: 50px;
    display: block;
  }
  .circle-button-button{
    width: 80px;
    height: 80px;
  }
}