.back-icon {
    padding-left: 10px;
    width: 25px;
    height: 25px;
    align-self: center;
    cursor: pointer;
}

.alimentos-chart-section {
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    transition: .3s ease all;
    margin-bottom: 50px;
    width: 100%;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
}