<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Crea una tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="publish-card">
    <ion-card-content>
      <ion-input placeholder="Introduce un título..." class="title-input"></ion-input>
      <ion-input placeholder="Introduce el tipo..." class="type-input"></ion-input>
      <ion-input placeholder="Introduce la ubicacion..." class="ubi-input"></ion-input>
      <ion-textarea placeholder="Introduce una descripción..." class="description-input" autoGrow></ion-textarea>
      <ion-datetime class="date-input"></ion-datetime>
      <div class="options">
        <div class="options-first">
          <ion-icon class="options-icon" name="attach-outline" (click)="changeImages()" [ngClass]="{'more-visible': imagesOpened}" ></ion-icon>
          <ion-icon class="options-icon" name="happy-outline" (click)="openToast()"></ion-icon>
          <ion-icon class="options-icon" name="camera-outline" (click)="openToast()"></ion-icon>
        </div>
        <div class="options-last">
          <ion-icon class="options-icon" style="color:red" name="trash-outline" routerLink="/folder/Tareas" ></ion-icon>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="images-content" *ngIf="imagesOpened">
    <ion-card-content class="images-content-container">
      <ion-card-subtitle class="images-content-title">Imágenes adjuntadas</ion-card-subtitle>
      <div class="images-main">
        <div class="images-container" *ngFor="let image of images">
          <img class="images-image" [src]="'assets/images/' + image">
        </div>
      </div> 
      <ion-button fill="outline" size="small">Adjuntar más</ion-button>     
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button expand="full" fill="solid" class="publicar-button" routerLink="/folder/Tareas">Crear</ion-button>
</ion-footer>
