.back-icon {
    padding-left: 10px;
    width: 25px;
    height: 25px;
    align-self: center;
    cursor: pointer;
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.from-message {
    background: var(--ion-color-tertiary);
}

.my-message {
    background: #25D366;
}

.nav-btn {
    height: 2em;
    margin-left: 5px;
}

.time {
    color: lightgray;
    font-size: 0.7em;
    display: flex;
    justify-content: end;
}

.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    resize: none;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.send-message-toolbar {
    display: flex;
    align-items: center;
}

.features-container{
    display: flex;
    flex-flow: column wrap;
    width: 90%;
    align-self: center;
    gap: 24px;
    margin-bottom: 30px;
    padding-left: 10px;
  
    .feature-container{
      display: flex;
      flex-flow: row wrap;
      ion-icon{
        width: 24px;
        height: 24px;
        margin-right: 16px;
      }
      .feature-data{
        display: flex;
        flex-flow: column wrap;
        gap: 4px;
        .data-title{
          font-weight: 700;
          font-size: 16px;
        }
        .data-information{
          font-size: 16px;
          color: rgb(113,113,113);
        }
      }
    }
  }