<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de la tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="see-task-container">
    <div class="header-container">
      <ion-text class="header-title">{{ task.titulo }}</ion-text>
      <ion-icon class="estado-icon" color="success" *ngIf="task.estado == 'Aceptada'" icon="checkmark-circle-outline"></ion-icon>
      <ion-icon class="estado-icon" color="danger" *ngIf="task.estado == 'Rechazada'" icon="close-circle-outline"></ion-icon>
      <ion-icon class="estado-icon" color="warning" *ngIf="task.estado == 'Pendiente'" icon="time-outline"></ion-icon>
    </div>
    <ion-text class="header-subtitle">{{ task.fecha }}</ion-text>
    <ion-slides class="slides-container" scrollbar>
      <ion-slide *ngFor="let img of task.images" class="slide-container">
        <ion-img [src]="'assets/images/' + img" class="slider-img" ></ion-img> <!-- TODO: Distintos tamaños de foto quedan feotes -->
      </ion-slide>
    </ion-slides>
    <div class="description-container">
      <ion-text class="description-text">{{ task.descripcion }}</ion-text>
    </div>
    <hr class="separator">
    <div class="features-container">
      <div class="feature-container">
        <ion-icon name="extension-puzzle-outline"></ion-icon>
        <div class="feature-data">
          <ion-text class="data-title">Tipo</ion-text>
          <ion-text class="data-information">{{ task.tipo }}</ion-text>
        </div>
      </div>
      <div class="feature-container">
        <ion-icon name="location-outline"></ion-icon>
        <div class="feature-data">
          <ion-text class="data-title">Ubicación</ion-text>
          <ion-text class="data-information">{{ task.ubicacion }}</ion-text>
        </div>
      </div>
      <div class="feature-container">
        <ion-icon name="medkit-outline"></ion-icon>
        <div class="feature-data">
          <ion-text class="data-title">Plan de cuidado</ion-text>
          <div class="data-info-container">
            <ion-text class="data-information" style="display: inline-block;">{{ task.planCuidado }}</ion-text>
            <ion-text *ngIf="task.medico != null" class="data-information" style="display: inline-block;">, {{task.medico}}</ion-text>
          </div>
          
        </div>
      </div>
    </div>
    <hr class="separator">
    <div class="estado-container">
      <ion-text class="estado-title">Cambiar estado actual</ion-text>
      <ion-list class="list-radios-container">
        <ion-radio-group [value]="task.estado" [(ngModel)]="task.estado" class="radios-container" >
          <ion-item class="radio-container">
            <ion-label>Aceptada</ion-label>
            <ion-radio value="Aceptada"></ion-radio>
          </ion-item>
          <ion-item class="radio-container">
            <ion-label>Rechazada</ion-label>
            <ion-radio value="Rechazada"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <hr class="separator" style="align-self: center; width: 90%; margin-left: 10px; margin-bottom: 20px;" *ngIf="task.estado=='Rechazada'">
      <ion-item *ngIf="task.estado=='Rechazada'">
        <ion-label position="stacked">Motivo*</ion-label>
        <ion-textarea class="motivo-input" autoGrow placeholder="Motivo por el que has rechazado la tarea..."></ion-textarea>
      </ion-item>
      <ion-button *ngIf="task.estado=='Rechazada'" size="small" style="margin-left: 10px; align-self: flex-start; margin-top: 25px;">Enviar</ion-button>
    </div>
  </div>
</ion-content>