.see-task-container{
  
}
.header-container{
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  .estado-icon{
    width: 40px;
    height: 40px;
  }
  .header-title{
    font-size: 28px;
    font-weight: 700;
  }
}
.header-subtitle{
  padding-left: 20px;
  color: #666666;
  font-size: 14px;
  font-weight: 700;
}

.slides-container{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}