<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="toolbar-styles">
      <ion-menu-button *ngIf="!showSearch"></ion-menu-button>
      <ion-icon icon="arrow-back-outline" color="primary" class="back-icon" *ngIf="showSearch" (click)="toggleSearchView()"></ion-icon>
    </ion-buttons>
    <ion-title *ngIf="!showSearch">Mis médicos</ion-title>
    <ion-searchbar *ngIf="showSearch" class="search-container" placeholder="Buscar..." searchIcon="false" ></ion-searchbar>
    <ion-icon icon="search-outline" slot="end" color="primary" class="search-icon" *ngIf="!showSearch" (click)="toggleSearchView()" ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="medicos-container" *ngFor="let medico of medicosVisibles">
      <app-medico-card [info]="medico" [search]="showSearch" ></app-medico-card>
    </div>
  </ion-list>
</ion-content>
