<ion-item class="medico-container" [detail]="!search">
  <div class="medico-container-inside">
    <div class="medico-img">
      <img [src]="'assets/images/' + info.image" class="medico-img-image">
    </div>
    <div class="medico-info">
      <ion-text class="medico-info-name">{{ info.nombre }}</ion-text>
      <ion-text class="medico-info-trabajo">{{ info.trabajo }}</ion-text>
    </div>
  </div>
  <ion-button *ngIf="search && !buttonClicked" shape="round" fill="outline" slot="end" class="añadir-button" (click)="changeAnadir()" >Añadir</ion-button>
  <ion-button *ngIf="search && buttonClicked" shape="round" slot="end" class="añadir-button" (click)="changeAnadir()" >Añadido</ion-button>
</ion-item>
