.medico-container{
  display: flex;
  flex-flow: row wrap;
  --border-style: none;
  --padding-top: 5px;
  --padding-bottom: 5px;
  --padding-left: 0px;
  margin-left: -5px;
  
  .medico-container-inside{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 15px;
  } 

  .medico-img-image{
    width: 55px;
    border-radius: 99px;
  }

  .medico-info{
    display: flex;
    flex-flow: column wrap;

    .medico-info-name{
      font-size: 16px;
      font-weight: 700;
    }
    .medico-info-trabajo{
      font-size: 12px;
      color: rgb(113,113,113);
      font-weight: 400;
    }
  }
}
