<ion-item class="medico-container" href="/folder/Mis-medicos">
  <div class="medico-container-inside">
    <div class="medico-img">
      <img src="assets/images/default-profile-img.jpeg" class="medico-img-image">
    </div>
    <div class="medico-info">
      <ion-text class="medico-info-name">{{ info.nombre }}</ion-text>
      <ion-text class="medico-info-trabajo">{{ info.trabajo }}</ion-text>
    </div>
  </div>
  <!-- TODO: Añadir boton "SEGUIR" para cuando se muestren medicos de búsqueda -->
</ion-item>
