<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Foro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container" class="main-container-posts">
    <div class="container-posts" *ngFor="let post of posts">
      <app-publication-card [info]="post"></app-publication-card>
    </div>

  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="circle-button">
    <ion-fab-button class="circle-button-button">
      <ion-icon style="width: 30px; height: 30px" name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
    <ion-button expand="full" fill="solid" class="publicar-button">Publicar</ion-button>
</ion-footer>
