<ion-card class="publication-container">
  <img *ngIf="!isComment" [src]="'assets/images/' + info.image" alt="Publication image">
  <ion-card-header>
    <div class="username-header">
      <ion-card-subtitle>{{ info.username }}</ion-card-subtitle>
      <img src="assets/images/default-profile-img.jpeg" alt="Profile default image" class="username-header-img" *ngIf="isUnique">
    </div>
    <ion-card-title *ngIf="!isComment">{{ info.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="text">
      {{ info.text }}
    </div>
    <div class="options" *ngIf="!isComment && !isUnique">
      <ion-text class="options-comments">{{ info.comments }} personas han comentado</ion-text>
      <a [routerLink]="['/folder/Foro/',info.id]" class="options-link">
        <ion-text> Ver hilo </ion-text> 
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </a>
    </div>
    <div class="options-icons" *ngIf="isUnique || isComment"> <!-- TODO: Iconos no tienen interacciones -->
      <ion-icon class="options-icons-icon" name="share-social-outline"></ion-icon>
      <ion-icon class="options-icons-icon" name="warning-outline"></ion-icon>
      <ion-icon class="options-icons-icon" name="heart-outline"></ion-icon>
    </div>
  </ion-card-content>
</ion-card>



