<ion-card class="publication-container">
  <img *ngIf="!isComment" [src]="'assets/images/' + info.image" alt="Publication image">
  <ion-card-header>
    <ion-card-subtitle>{{ info.username }}</ion-card-subtitle>
    <ion-card-title>{{ info.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="text">
      {{ info.text }}
    </div>
    <div class="options" *ngIf="!isComment && !isUnique">
      <ion-text class="options-comments">{{ info.comments }} personas han comentado</ion-text>
      <a [routerLink]="['/folder/Foro/',info.id]" class="options-link">
        <ion-text> Ver hilo </ion-text> 
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </a>
    </div>
  </ion-card-content>
</ion-card>



