<ion-card class="publication-container">
  <img *ngIf="!isComment" [src]="'assets/images/' + info.image" alt="Publication image">
  <ion-card-header>
    <div class="username-header" [ngClass]="{'img-profile-comment': isComment}">
      <ion-card-subtitle>{{ info.username }}</ion-card-subtitle>
      <img src="assets/images/default-profile-img.jpeg" alt="Profile default image" class="username-header-img" *ngIf="isUnique">
    </div>
    <ion-card-title *ngIf="!isComment">{{ info.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="text">
      {{ info.text }}
    </div>
    <div class="options" *ngIf="!isComment && !isUnique">
      <ion-text class="options-comments">{{ info.comments }} personas han comentado</ion-text>
      <a [routerLink]="['/folder/Foro/',info.id]" class="options-link">
        <ion-text> Ver hilo </ion-text> 
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </a>
    </div>
    <div class="options-icons" *ngIf="isUnique || isComment">
      <ion-text class="likes-text" *ngIf="!like">{{info.likes}}</ion-text>
      <ion-text class="likes-text" *ngIf="like">{{info.likes + 1}}</ion-text>
      <ion-icon class="options-icons-icon" name="heart-outline" *ngIf="!like" (click)="changeLike()"></ion-icon>
      <ion-icon class="options-icons-icon" name="heart" *ngIf="like" (click)="changeLike()"></ion-icon>
      <ion-icon class="options-icons-icon" name="share-social-outline" (click)="openToast()"></ion-icon>
      <ion-icon class="options-icons-icon" name="warning-outline" (click)="reportPublication()"></ion-icon>
    </div>
  </ion-card-content>
</ion-card>



