.publication-container{
  margin-bottom: 10px;
  border-radius: 10px;
}

.options{
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  margin-top: 10px;

  .options-comments{
    font-size: 12px;
    line-height: fit-content;
    align-self: flex-end;
  }

  .options-link{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    line-height: fit-content;
    cursor: pointer;
  }
}

.options-icons{
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.options-icons-icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.username-header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 20px;

  .username-header-img{
    width: 40px;
    border-radius: 99px;
  }
}

@media(min-width: 500px) {
  .publication-container{
    max-width: 600px;
  }
}